In [1]:
import os
import pandas as pd
from lsst.sims.maf.db import ResultsDb
from IPython.display import display

In [2]:
runlist = ['minion_1016',
           'astro_lsst_01_1016',
           'astro_lsst_01_1015',
           'astro_lsst_01_1017']

In [3]:
runs = {}
runs_newsky = {}
for r in runlist:
    runs_newsky[r] = ResultsDb(os.path.join('.', r, 'pha_newsky'))
    runs[r] = ResultsDb(os.path.join('.', r, 'pha'))

In [4]:
metricName = 'CumulativeCompleteness'

In [5]:
summary = []
for r in runlist:
    mId = runs[r].getMetricId(metricName, metricMetadata=None)
    s = runs[r].getSummaryStats(mId, summaryName=None)
    summary.append(pd.DataFrame(zip(s['metricMetadata'], s['summaryValue']*100.0), columns=['metadata', r]))
    
summary_newsky = []
for r in runlist:
    mId = runs_newsky[r].getMetricId(metricName, metricMetadata=None)
    s = runs_newsky[r].getSummaryStats(mId, summaryName=None)
    summary_newsky.append(pd.DataFrame(zip(s['metricMetadata'], s['summaryValue']*100.0), columns=['metadata', r]))

In [6]:
df = summary[0]
for i in range(1, len(summary)):
    df = pd.merge(df, summary[i], how='outer', on='metadata')

df_newsky = summary_newsky[0]
for i in range(1, len(summary_newsky)):
    df_newsky = pd.merge(df_newsky, summary_newsky[i], how='outer', on='metadata')

In [7]:
match = '3 pairs in 15 nights yr 10'
display(df[df.metadata.str.contains(match)])
display(df_newsky[df_newsky.metadata.str.contains(match)])

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
7,PHA 3 pairs in 15 nights yr 10,72.286809,72.875499,71.067906,74.235775

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
7,PHA 3 pairs in 15 nights yr 10,73.729326,74.829865,73.612485,76.205749

In [9]:
match = '3 pairs in 15 nights yr 12'
display(df[df.metadata.str.contains(match)])
display(df_newsky[df_newsky.metadata.str.contains(match)])

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
141,PHA 3 pairs in 15 nights yr 12,NaN,77.141445,74.898243,77.777113

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
141,PHA 3 pairs in 15 nights yr 12,NaN,79.130073,77.530612,79.866959

In [13]:
match = '3 pairs in 30 nights yr 12'
display(df[df.metadata.str.contains(match)])
display(df_newsky[df_newsky.metadata.str.contains(match)])

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
159,PHA 3 pairs in 30 nights yr 12,NaN,80.036364,79.297031,80.669212

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
159,PHA 3 pairs in 30 nights yr 12,NaN,80.837906,80.947165,82.452829

In [15]:
match = '3 pairs in 30 nights trailing loss yr 12'
display(df[df.metadata.str.contains(match)])
display(df_newsky[df_newsky.metadata.str.contains(match)])

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
153,PHA 3 pairs in 30 nights trailing loss yr 12,NaN,80.490376,81.097773,82.10845

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
153,PHA 3 pairs in 30 nights trailing loss yr 12,NaN,81.483143,82.867323,83.910607

In [16]:
match = '3 pairs in 30 nights trailing loss, SNR=4 yr 12'
display(df[df.metadata.str.contains(match)])
display(df_newsky[df_newsky.metadata.str.contains(match)])

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
156,"PHA 3 pairs in 30 nights trailing loss, SNR=4 ...",NaN,83.064246,83.952085,84.476381

,metadata,minion_1016,astro_lsst_01_1016,astro_lsst_01_1015,astro_lsst_01_1017
156,"PHA 3 pairs in 30 nights trailing loss, SNR=4 ...",NaN,83.758433,85.634775,85.977228

In [17]:
print df.metadata.unique()

['PHA 3 pairs in 15 nights trailing loss yr 1'
 'PHA 3 pairs in 15 nights trailing loss yr 10'
 'PHA 3 pairs in 15 nights trailing loss yr 2'
 'PHA 3 pairs in 15 nights trailing loss yr 4'
 'PHA 3 pairs in 15 nights trailing loss yr 6'
 'PHA 3 pairs in 15 nights trailing loss yr 8'
 'PHA 3 pairs in 15 nights yr 1' 'PHA 3 pairs in 15 nights yr 10'
 'PHA 3 pairs in 15 nights yr 2' 'PHA 3 pairs in 15 nights yr 4'
 'PHA 3 pairs in 15 nights yr 6' 'PHA 3 pairs in 15 nights yr 8'
 'PHA 3 pairs in 15 nights, SNR=0 yr 1'
 'PHA 3 pairs in 15 nights, SNR=0 yr 10'
 'PHA 3 pairs in 15 nights, SNR=0 yr 2'
 'PHA 3 pairs in 15 nights, SNR=0 yr 4'
 'PHA 3 pairs in 15 nights, SNR=0 yr 6'
 'PHA 3 pairs in 15 nights, SNR=0 yr 8'
 'PHA 3 pairs in 15 nights, SNR=3 yr 1'
 'PHA 3 pairs in 15 nights, SNR=3 yr 10'
 'PHA 3 pairs in 15 nights, SNR=3 yr 2'
 'PHA 3 pairs in 15 nights, SNR=3 yr 4'
 'PHA 3 pairs in 15 nights, SNR=3 yr 6'
 'PHA 3 pairs in 15 nights, SNR=3 yr 8'
 'PHA 3 pairs in 15 nights, SNR=4 yr 1'
 'PHA 3 pairs in 15 nights, SNR=4 yr 10'
 'PHA 3 pairs in 15 nights, SNR=4 yr 2'
 'PHA 3 pairs in 15 nights, SNR=4 yr 4'
 'PHA 3 pairs in 15 nights, SNR=4 yr 6'
 'PHA 3 pairs in 15 nights, SNR=4 yr 8'
 'PHA 3 pairs in 30 nights trailing loss yr 1'
 'PHA 3 pairs in 30 nights trailing loss yr 10'
 'PHA 3 pairs in 30 nights trailing loss yr 2'
 'PHA 3 pairs in 30 nights trailing loss yr 4'
 'PHA 3 pairs in 30 nights trailing loss yr 6'
 'PHA 3 pairs in 30 nights trailing loss yr 8'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 1'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 10'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 2'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 4'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 6'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 8'
 'PHA 3 pairs in 30 nights yr 1' 'PHA 3 pairs in 30 nights yr 10'
 'PHA 3 pairs in 30 nights yr 2' 'PHA 3 pairs in 30 nights yr 4'
 'PHA 3 pairs in 30 nights yr 6' 'PHA 3 pairs in 30 nights yr 8'
 'PHA 3 pairs in 30 nights, SNR=3 yr 1'
 'PHA 3 pairs in 30 nights, SNR=3 yr 10'
 'PHA 3 pairs in 30 nights, SNR=3 yr 2'
 'PHA 3 pairs in 30 nights, SNR=3 yr 4'
 'PHA 3 pairs in 30 nights, SNR=3 yr 6'
 'PHA 3 pairs in 30 nights, SNR=3 yr 8'
 'PHA 3 pairs in 30 nights, SNR=4 yr 1'
 'PHA 3 pairs in 30 nights, SNR=4 yr 10'
 'PHA 3 pairs in 30 nights, SNR=4 yr 2'
 'PHA 3 pairs in 30 nights, SNR=4 yr 4'
 'PHA 3 pairs in 30 nights, SNR=4 yr 6'
 'PHA 3 pairs in 30 nights, SNR=4 yr 8' 'PHA 3 quads in 30 nights yr 1'
 'PHA 3 quads in 30 nights yr 10' 'PHA 3 quads in 30 nights yr 2'
 'PHA 3 quads in 30 nights yr 4' 'PHA 3 quads in 30 nights yr 6'
 'PHA 3 quads in 30 nights yr 8' 'PHA 3 quads in 30 nights, SNR=3 yr 1'
 'PHA 3 quads in 30 nights, SNR=3 yr 10'
 'PHA 3 quads in 30 nights, SNR=3 yr 2'
 'PHA 3 quads in 30 nights, SNR=3 yr 4'
 'PHA 3 quads in 30 nights, SNR=3 yr 6'
 'PHA 3 quads in 30 nights, SNR=3 yr 8'
 'PHA 3 quads in 30 nights, SNR=4 yr 1'
 'PHA 3 quads in 30 nights, SNR=4 yr 10'
 'PHA 3 quads in 30 nights, SNR=4 yr 2'
 'PHA 3 quads in 30 nights, SNR=4 yr 4'
 'PHA 3 quads in 30 nights, SNR=4 yr 6'
 'PHA 3 quads in 30 nights, SNR=4 yr 8' 'PHA 3 triplets in 30 nights yr 1'
 'PHA 3 triplets in 30 nights yr 10' 'PHA 3 triplets in 30 nights yr 2'
 'PHA 3 triplets in 30 nights yr 4' 'PHA 3 triplets in 30 nights yr 6'
 'PHA 3 triplets in 30 nights yr 8'
 'PHA 3 triplets in 30 nights, SNR=3 yr 1'
 'PHA 3 triplets in 30 nights, SNR=3 yr 10'
 'PHA 3 triplets in 30 nights, SNR=3 yr 2'
 'PHA 3 triplets in 30 nights, SNR=3 yr 4'
 'PHA 3 triplets in 30 nights, SNR=3 yr 6'
 'PHA 3 triplets in 30 nights, SNR=3 yr 8'
 'PHA 3 triplets in 30 nights, SNR=4 yr 1'
 'PHA 3 triplets in 30 nights, SNR=4 yr 10'
 'PHA 3 triplets in 30 nights, SNR=4 yr 2'
 'PHA 3 triplets in 30 nights, SNR=4 yr 4'
 'PHA 3 triplets in 30 nights, SNR=4 yr 6'
 'PHA 3 triplets in 30 nights, SNR=4 yr 8' 'PHA 4 pairs in 20 nights yr 1'
 'PHA 4 pairs in 20 nights yr 10' 'PHA 4 pairs in 20 nights yr 2'
 'PHA 4 pairs in 20 nights yr 4' 'PHA 4 pairs in 20 nights yr 6'
 'PHA 4 pairs in 20 nights yr 8' 'PHA 4 pairs in 20 nights, SNR=3 yr 1'
 'PHA 4 pairs in 20 nights, SNR=3 yr 10'
 'PHA 4 pairs in 20 nights, SNR=3 yr 2'
 'PHA 4 pairs in 20 nights, SNR=3 yr 4'
 'PHA 4 pairs in 20 nights, SNR=3 yr 6'
 'PHA 4 pairs in 20 nights, SNR=3 yr 8'
 'PHA 4 pairs in 20 nights, SNR=4 yr 1'
 'PHA 4 pairs in 20 nights, SNR=4 yr 10'
 'PHA 4 pairs in 20 nights, SNR=4 yr 2'
 'PHA 4 pairs in 20 nights, SNR=4 yr 4'
 'PHA 4 pairs in 20 nights, SNR=4 yr 6'
 'PHA 4 pairs in 20 nights, SNR=4 yr 8'
 'PHA 6 detections in 60 nights yr 1' 'PHA 6 detections in 60 nights yr 10'
 'PHA 6 detections in 60 nights yr 2' 'PHA 6 detections in 60 nights yr 4'
 'PHA 6 detections in 60 nights yr 6' 'PHA 6 detections in 60 nights yr 8'
 'PHA High velocity pair yr 1' 'PHA High velocity pair yr 10'
 'PHA High velocity pair yr 2' 'PHA High velocity pair yr 4'
 'PHA High velocity pair yr 6' 'PHA High velocity pair yr 8'
 'PHA Single detection yr 1' 'PHA Single detection yr 10'
 'PHA Single detection yr 2' 'PHA Single detection yr 4'
 'PHA Single detection yr 6' 'PHA Single detection yr 8'
 'PHA Single pair yr 1' 'PHA Single pair yr 10' 'PHA Single pair yr 2'
 'PHA Single pair yr 4' 'PHA Single pair yr 6' 'PHA Single pair yr 8'
 'PHA 3 pairs in 15 nights trailing loss yr 12'
 'PHA 3 pairs in 15 nights trailing loss yr 14'
 'PHA 3 pairs in 15 nights trailing loss yr 15'
 'PHA 3 pairs in 15 nights yr 12' 'PHA 3 pairs in 15 nights yr 14'
 'PHA 3 pairs in 15 nights yr 15' 'PHA 3 pairs in 15 nights, SNR=0 yr 12'
 'PHA 3 pairs in 15 nights, SNR=0 yr 14'
 'PHA 3 pairs in 15 nights, SNR=0 yr 15'
 'PHA 3 pairs in 15 nights, SNR=3 yr 12'
 'PHA 3 pairs in 15 nights, SNR=3 yr 14'
 'PHA 3 pairs in 15 nights, SNR=3 yr 15'
 'PHA 3 pairs in 15 nights, SNR=4 yr 12'
 'PHA 3 pairs in 15 nights, SNR=4 yr 14'
 'PHA 3 pairs in 15 nights, SNR=4 yr 15'
 'PHA 3 pairs in 30 nights trailing loss yr 12'
 'PHA 3 pairs in 30 nights trailing loss yr 14'
 'PHA 3 pairs in 30 nights trailing loss yr 15'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 12'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 14'
 'PHA 3 pairs in 30 nights trailing loss, SNR=4 yr 15'
 'PHA 3 pairs in 30 nights yr 12' 'PHA 3 pairs in 30 nights yr 14'
 'PHA 3 pairs in 30 nights yr 15' 'PHA 3 pairs in 30 nights, SNR=3 yr 12'
 'PHA 3 pairs in 30 nights, SNR=3 yr 14'
 'PHA 3 pairs in 30 nights, SNR=3 yr 15'
 'PHA 3 pairs in 30 nights, SNR=4 yr 12'
 'PHA 3 pairs in 30 nights, SNR=4 yr 14'
 'PHA 3 pairs in 30 nights, SNR=4 yr 15' 'PHA 3 quads in 30 nights yr 12'
 'PHA 3 quads in 30 nights yr 14' 'PHA 3 quads in 30 nights yr 15'
 'PHA 3 quads in 30 nights, SNR=3 yr 12'
 'PHA 3 quads in 30 nights, SNR=3 yr 14'
 'PHA 3 quads in 30 nights, SNR=3 yr 15'
 'PHA 3 quads in 30 nights, SNR=4 yr 12'
 'PHA 3 quads in 30 nights, SNR=4 yr 14'
 'PHA 3 quads in 30 nights, SNR=4 yr 15'
 'PHA 3 triplets in 30 nights yr 12' 'PHA 3 triplets in 30 nights yr 14'
 'PHA 3 triplets in 30 nights yr 15'
 'PHA 3 triplets in 30 nights, SNR=3 yr 12'
 'PHA 3 triplets in 30 nights, SNR=3 yr 14'
 'PHA 3 triplets in 30 nights, SNR=3 yr 15'
 'PHA 3 triplets in 30 nights, SNR=4 yr 12'
 'PHA 3 triplets in 30 nights, SNR=4 yr 14'
 'PHA 3 triplets in 30 nights, SNR=4 yr 15'
 'PHA 4 pairs in 20 nights yr 12' 'PHA 4 pairs in 20 nights yr 14'
 'PHA 4 pairs in 20 nights yr 15' 'PHA 4 pairs in 20 nights, SNR=3 yr 12'
 'PHA 4 pairs in 20 nights, SNR=3 yr 14'
 'PHA 4 pairs in 20 nights, SNR=3 yr 15'
 'PHA 4 pairs in 20 nights, SNR=4 yr 12'
 'PHA 4 pairs in 20 nights, SNR=4 yr 14'
 'PHA 4 pairs in 20 nights, SNR=4 yr 15'
 'PHA 6 detections in 60 nights yr 12'
 'PHA 6 detections in 60 nights yr 14'
 'PHA 6 detections in 60 nights yr 15' 'PHA High velocity pair yr 12'
 'PHA High velocity pair yr 14' 'PHA High velocity pair yr 15'
 'PHA Single detection yr 12' 'PHA Single detection yr 14'
 'PHA Single detection yr 15' 'PHA Single pair yr 12'
 'PHA Single pair yr 14' 'PHA Single pair yr 15']